details.dialog-section {
    margin-left: 10px;
}

.dialog-body {
    overflow: auto;
}

.inner-dialog {
    overflow: hidden;
}

.dialog-header,
.dialog-footer {
    flex-shrink: 0;
}

.dialog-footer {
    margin-top: var(--inner-padding);
}

dialog {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --inner-padding: 10px;
    border-radius: calc(var(--playbar-border-radius) + var(--inner-padding));
}

dialog>div {
    width: 100%;
    height: 100%;
    position: relative;
    padding: var(--inner-padding);
    display: flex;
    flex-direction: column;
}

.dialog-header {
    height: 50px;
    width: 100%;
    /* padding-left: 10px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--inner-padding);
}

.dialog-footer {
    height: 50px;
    width: 100%;
    /* padding-left: 10px; */
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-top: var(--inner-padding);
    gap: var(--inner-padding)
}

dialog [role="button"] {
    height: 100%;
}

dialog h1 {
    padding-left: 5px;
}

ul.settings {
    padding-inline: 20%;
    width: 100%;
}

ul.settings li {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
}

ul.settings>li>label {
    margin-right: auto;
}

ul.settings input,
#shuffle-type-btn {
    background-color: var(--btn-bg-color);
    border-radius: var(--playbar-border-radius);
    padding: 10px;
    height: 40px;
}

#theme::-webkit-color-swatch {
    border-radius: 100px;
    height: 10px;
    width: 60px;
}

[accented] {
    background-color: var(--main-color);
}

#shuffle-type-btn {
    margin: 0;
    aspect-ratio: 1;
}

[type="checkbox"]:checked+label {
    background-color: var(--main-color) !important;
}

[type="checkbox"]:checked+#shuffle-type-btn i:nth-child(2) {
    display: none;
}

[type="checkbox"]:not(:checked)+#shuffle-type-btn i:nth-child(1) {
    display: none;
}