@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*,
body {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    --playbar-height: 60px;
    --headers-height: 43.2px;
    box-sizing: border-box;
}

#table-wrapper {
    max-height: calc(100vh - var(--playbar-height));
    /* height: 100vh; */
    overflow-y: auto;
    border-bottom: 2px solid #009879;
}

table {
    width: 100%;
    border-collapse: collapse;
    /*     margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    /*     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

button:active,
tbody>tr:hover,
input[type="checkbox"]:checked+label {
    filter: brightness(0.8);
}

tbody>tr:active {
    filter: brightness(0.8);
}

th,
td {
    padding: 12px 15px;
    min-width: 50px;
}

th {
    user-select: none;
    height: var(--headers-height);
    padding-block: 0;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

/* tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table-sortable th {
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table-sortable th[sortstate="1"]::after {
    content: "\25b4";
}

.table-sortable th[sortstate="2"]::after {
    content: "\25be";
}

.table-sortable th[sortstate="1"]::after,
.table-sortable th[sortstate="2"]::after {
    /* 	margin-left: 5px; */
    position: absolute;
    right: 10px;
}

.table-sortable th[sortstate="1"],
.table-sortable th[sortstate="2"] {
    filter: brightness(0.9);
}

.add-button-wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    --rot: 0deg;
    --oppa: 0%;
}

.add-button {
    display: grid;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    border: none;
    background: #fff;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
}

.add-button-wrapper:hover {
    --rot: 180deg;
    --oppa: 100%;
}

.add-icon {
    transition: .2s ease-in-out;
    width: 40px;
    transform: rotate(var(--rot));
}

.add-button-wrapper::before {
    content: "";
    transition: .2s linear;
    opacity: var(--oppa);
}

.add-button-wrapper:hover::before {
    content: "ajouter un anime";
    opacity: var(--oppa);
}

button {
    padding: 10px;
}

.scroll-shadows-top {
    opacity: 0;
    background:
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) center top;
}

.scroll-shadows-bottom {
    background:
        radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) center bottom;
}

.scroll-shadows-top,
.scroll-shadows-bottom {
    overflow: auto;
    height: calc(100% - var(--headers-height) - var(--playbar-height) - 2px);
    width: 100svw;
    position: absolute;
    top: var(--headers-height);
    left: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 100% 40px;
    background-attachment: local;
}

#playbar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: var(--playbar-height);
    display: flex;
    padding: 5px;
    gap: 5px;
    --playbar-border-radius: 10px;
    --btn-bg-color: #e6e6e6;
}

#playbar>* {
    background-color: var(--btn-bg-color);
    border-radius: var(--playbar-border-radius);
    height: 100%;
}

[role="button"] {
    aspect-ratio: 1;
}

audio::-webkit-media-controls-enclosure {
    background-color: transparent;
}

audio::-webkit-media-controls-play-button {
    display: none;
}

.sep {
    width: 2px;
    margin-inline: 4px;
    background: #009879 !important;
}

div.lr-sep {
    flex-grow: 1;
    background: transparent !important;
}

[role="button"] {
    display: grid;
    place-items: center;
}

i {
    font-size: 16px;
    /* Adjust the size as needed */
    width: 16px;
    height: 16px;
}

audio {
    width: calc(5 * var(--playbar-height) + 4 * 5px);
}

#playbar input[type="text"] {
    width: calc(5 * var(--playbar-height) + 4 * 5px);
    padding-left: calc(calc(var(--headers-height) - 1em) / 2);
}

#playbar input[type="text"]:focus,
#playbar input[type="text"]:focus-visible,
#playbar input[type="text"]:focus-within {
    outline: none;
}

#play-btn > i {
    display: none;
}

#play-btn[tooltip="Jouer aléatoire"] > i.fa-shuffle {
    display: block;
}

#play-btn[tooltip="Jouer"] > i.fa-play {
    display: block;
}

#play-btn[tooltip="Pauser"] > i.fa-pause {
    display: block;
}

tr[playing] > td:nth-child(1)::before {
    content: "▶ ";
}

#like-btn[liked], #dislike-btn[disliked] {
    opacity: 1;
    color: inherit;
}

#like-btn:active, #dislike-btn:active {
    filter: brightness(1) !important;
}

#like-btn:not([liked]) > i:nth-child(2), 
#dislike-btn:not([disliked]) > i:nth-child(2) {
    display: none;
}

#like-btn[liked] > i:nth-child(1), 
#dislike-btn[disliked] > i:nth-child(1) {
    display: none;
}